.hide {
    display: none !important;
}

.button {
    background-color: rgb(60,176,165);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Animations */

@keyframes open {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* Responsive  */

  @media only screen and (max-width: 950px){
    body{
        margin: 0px;
        padding: 0px;
        background-image: url('https://iili.io/HBL1eLb.png');
        object-fit: cover;
    }
    #main {
        height: auto;
        width: 100vw;
        /* border: 1px solid blue; */
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    #backgroundImage {
        display: none;
    }
    #nameSection {
        position: relative;
        width: 90vw;
        height: auto;
        font-size: 18px;
        /* border: 1px solid blue; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: wheat;
        margin-top: 20px;
        padding: 10px;
        border-radius: 50px;
        z-index: 2;
    }
    #nameInput {
        padding: 10px;
        width: 85%;
        margin: 10px;
    }
    
    #nameSubmit {
        border: none;
    }
    
    #clearNameButton {
        margin-left: 10px;
        border: none;
    }
    #characterName{
        position: relative;
        height: 100px;
        width: 60%;
        background-color: wheat;
        border-radius: 50px;
        top: -20px;
    }
    #storeViewSection {
        display: flex ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 90%;
        top: -50px;
        /* border: 1px solid red; */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        animation: open .45s forwards;
    }
    #buyAndSellHeader {
        display: none;
    }
    #storeView {
        height: 85%;
        width: 90%;
        margin-left: 5%;
        /* border: 2px solid blue; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #storeSide {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 50px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        align-items: center;
    }
    #storeSideInner {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-between;
        /* border: 1px solid red; */
    }
    .itemContainer {
        color: white !important;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .itemImage {
        width: 80px;
        max-height: 100px;
        cursor: pointer;
    }
    #pocketsSide {
        width: 100%;
        height: auto;
        background-color: wheat;
        border-radius: 50px;
        padding: 10px;
        margin: 15px 0px;
    }
    
    #pocketsSideInner {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid red; */
    }
    .clickToBuyOrSell {
        background-color: white;
        position: relative;
        width: 60%;
        padding: 5px;
        border-radius: 50px;
        margin-left: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        top: -20px;
        left: -30px;
        border: 5px solid rgb(60,176,165);
    }
    .clickToBuyOrSell > p {
        padding: 0;
        margin: 0;
    }
    .clickToBuyOrSell > .title {
        font-size: 24px;
    }

    #closeStoreButton {
        position: absolute;
        top: -20px;
        right: -20px;
        border: 10px solid wheat;
        font-weight: bold; 
        padding: 10px 15px;
    }

    #pocketsViewSection {
        position: absolute;
        top: 35%;
        height: auto;
        width: 90%;
        margin-left: 5%;
        animation: open .45s;
    }
    #pocketsView {
        height: 60%;
        border-radius: 50px;
        padding: 20px;
        background-color: wheat;
        overflow: hidden;
    }
    
    #pocketsViewInner {
        height: 90%;
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-between;
    }
    
    .pocketItemContainer {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pocketItem {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: gray;
        /* margin: 50px; */
    }
    #clearPocketsButton {
        border: 10px solid wheat;
        position: absolute;
        top: -20px;
        left: 0;
    }
    
    #closePocketsButton {
        border: 10px solid wheat;
        position: absolute;
        top: -20px;
        font-weight: bold;
        padding: 10px 20px;
        right: 0;
    }
    #openStoreButton {
        position: relative;
        outline: none;
        border: none;
        margin-top: 20%;
    }
    #openPocketsButton {
        position: relative;
        outline: none;
        border: none;
        margin-top: 20%;
    }
  }

  @media only screen and (min-width: 951px){
    
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#backgroundImage {
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
}

#openStoreButton {
    border: none;
    position: absolute;
    top: 300px;
    left: 350px;
}

#openPocketsButton {
    border: none;
    position: absolute;
    bottom: 200px;
    right: 400px;
}

#nameSection {
    box-sizing: border-box;
    bottom: 20px;
    position: absolute;
    font-size: 30px;
    display: flex;
    align-items: center;
    background-color: wheat;
    padding: 30px;
    border-radius: 50px;
}

#nameInput {
    margin-left: 10px;
    padding: 10px;
}

#nameSubmit {
    margin-left: 10px;
    border: none;
}

#clearNameButton {
    margin-left: 10px;
    border: none;
}

#characterName{
    font-size: 20px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 40%;
    transform:rotate(7deg);
}

/* Store View  */
#storeViewSection {
    display: flex ;
    
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90%;
    width: 90%;
    /* border: 1px solid red; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: open .45s forwards;
}

#buyAndSellHeader {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 70%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buyAndSell {
    background-color: rgb(60,176,165);
    color: white;
    border: 10px solid rgb(60,176,165);
    border-radius: 50px;
    padding: 20px;
}

.clickToBuyOrSell {
    background-color: white;
    position: absolute;
    width: auto;
    min-width: 300px;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    border: 5px solid rgb(60,176,165);
    top: 20px;
}
.clickToBuyOrSell > p {
    padding: 0;
    margin: 0;
}
.clickToBuyOrSell > .title {
    font-size: 24px;
}

#storeView {
    height: 85%;
    width: 90%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
}



#storeSide {
    width: 40%;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

#storeSideInner {
    height: 90%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.itemContainer {
    color: white !important;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImage {
    width: 80px;
    cursor: pointer;
}

#closeStoreButton {
    border: 10px solid wheat;
    position: absolute;
    top: 50px;
    right: 50px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
}

#pocketsSide {
    width: 40%;
    background-color: wheat;
    border-radius: 50px;
    padding: 20px;
}

#pocketsSideInner {
    height: 90%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

#pocketsSideInnerRenderedItems {
    height: 90%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 20px;
}

/* Pockets View  */

#pocketsViewSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 20px;
    animation: open .45s;
}

#pocketsView {
    height: 60%;
    width: 50%;
    border-radius: 50px;
    padding: 50px;
    background-color: wheat;
    overflow: hidden;
    position: relative;
}

#pocketsViewInner {
    height: 90%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
}

#pocketsViewInnerRenderedItems {
    height: 90%;
    width: 90%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    top: 20px;
}

.renderedItem {
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.renderedItemImage {
    height: 120px;
    cursor: pointer;
}

.pocketItemContainer {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pocketItem {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
    margin: 50px;
}

#clearPocketsButton {
    border: 10px solid wheat;
    position: absolute;
    top: 100px;
    left: 200px;
}

#closePocketsButton {
    border: 10px solid wheat;
    position: absolute;
    top: 100px;
    right: 200px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
}

  }

